.card {
  display: block;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
  padding: 1rem;
}

.cardDark {
  display: block;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
  padding: 1rem;
  background: #333;
  color: #eee;
}
